* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #1C4980;
    font-family: 'inter';
    font-size: 12px;
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: inter;
    src: url(./assets/Inter/Inter-Regular.ttf);
}